@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');




*{
    margin: 0px;
    padding: 0px;
}


.nerko-one-regular {
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
    color: white;
 font-size: 60px;
  }
  

body{
    background-color: #161C24;
}

.conteudos{
    align-items: center;
    color: var();
    cursor: pointer;
    display: flex;
    font-size: 1.5em;
    font-weight: 400;
    grid-gap: 16px;
    gap: 16px;
    grid-gap: var();
    gap: var();
    height: 52px;
    justify-content: flex-start;
    padding: 14px 0 14px 16px;
    padding-left: var();
    -webkit-text-decoration-color: var();
    text-decoration-color: var();
    width: 100%;
    
}

.conteudos>a {
    text-decoration: none;
}

.label {
    width: 245px;
    height: 64px;
}

.label .text-wrapper {
    position: fixed;
    width: 245px;
    top: 0;
    left: 0;
    font-family: "Nerko One", cursive;
    font-weight: 400;
    color: #ffffff;
    font-size: 55px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.info{
    background-color: #293442;
    color: black;
    margin: left;
    margin-top: 40px;
    max-width: 230px;
    min-height: 870px;

}



